apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-verne
  namespace: {{ dojot_namespace }}
spec:
  minReadySeconds: 30
  selector:
    matchLabels:
      app: webhook-verne
  replicas: 1
  template: #templates for the pods
    metadata:
      labels:
        app: webhook-verne
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                - verne-kafka
      containers:
      - name: webhook-verne
        image: eduardogmisiuk/verne_webhooks
        command: ["/bin/bash"]
        args: ["entryPoint.sh"]
