apiVersion: v1
kind: Service
metadata:
  labels:
    app: latency-pub-test-prometheus
  name: latency-pub-test-prometheus
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: http
    port: 3055
  selector:
    app: latency-pub-test-prometheus
