apiVersion: v1
kind: Service
metadata:
  name: mqtt_bridge-verne
  namespace: {{ dojot_namespace }}
spec:
  type: ClusterIP 
  selector:
    app: mqtt_bridge-verne
  ports:
  - name: mqtt_bridge-verne
    port: 4000